body{
    background-color: pink;
    font-family: "Libre Baskerville", serif;
}

.contenedor {
    display: flex;
    flex-wrap: wrap; /* IMPORTANTE: permite hacer 2 filas */
    justify-content: center;
    gap: 40px;
}


.card{
    flex: 0 1 calc(33.33% - 15px); 
    background: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #CAFCFA;
}